body {
	background: #eee;
}

.memory-table {
	margin: auto;
	width: 60%;
	max-height: 860px;
}

.memory-table tr td img {
	width: 100%;
}

.memory-table tr td {
	width: 16%;
}

.memory-table tr td img:hover {
	opacity: 0.8;
	cursor: pointer;
}
